.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 20px 0;
  margin-bottom: 48px;
  max-width: var(--container-width);
  margin-inline: auto;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.list {
  padding: 0;
  list-style: none;
}
