@use '../../styles/breakpoints';

.container {
  padding: 48px 20px;
  max-width: var(--container-width);
  margin-inline: auto;
  display: grid;
  gap: 24px;
}

.card-list {
  display: flex;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 24px;

  @include breakpoints.tablet {
    gap: 40px;
    height: 100%;
  }

  @include breakpoints.desktop {
    gap: 90px;
    height: 100%;
  }
}

.heading {
  font-size: 40px;
  font-weight: 700;
}
