@use 'fonts';
@use 'breakpoints';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: var(--color-black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-black: rgb(15, 15, 15);
  --color-cod-gray: rgb(24 24 24);
  --color-brown-rust: rgb(176 97 67);
  --color-japonica: rgb(213 120 85);
  --color-cape-cod: rgb(50 52 51);
  --color-edward: rgb(157 161 162);
  --color-white: rgb(255 255 255);
  --color-mine-shaft: rgb(37 37 37);
  --container-size: 1200px;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 0.3s;
  --transition-color: background-color var(--transition-timing)
      var(--transition-duration),
    color var(--transition-timing) var(--transition-duration),
    border-color var(--transition-timing) var(--transition-duration);
}
