@use 'fonts';
@use 'breakpoints';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: var(--color-black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-black: rgb(43, 45, 38);
  --color-white: rgb(255 255 255);
  --color-green: rgb(41 204 106);
  --color-grey: rgb(120 122 124);
  --color-50-shades: rgb(169 172 172);
  --color-transparent: transparent;
  --container-width: 1200px;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 0.3s;
  --transition-color: background-color var(--transition-timing)
      var(--transition-duration),
    color var(--transition-timing) var(--transition-duration),
    border-color var(--transition-timing) var(--transition-duration);
}
