@use '../../styles/breakpoints';

.container {
  background-color: var(--color-black);
}

.wrapper {
  max-width: var(--container-width);
  margin-inline: auto;
}

.top {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 48px;
  gap: 32px;
}

.navigation-sections {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include breakpoints.tablet {
    flex-direction: row;
    gap: 90px;
  }
}

.section-title {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.bottom {
  display: flex;
  flex-direction: column;
  padding: 32px 20px;
  gap: 16px;
  position: relative;
  align-items: center;

  &::before {
    content: '';
    border-top: 1px solid var(--color-green);
    position: absolute;
    top: 0;
    left: 20px;
    display: block;
    width: calc(100% - 40px);
  }

  @include breakpoints.desktop {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 36px;
  }
}

.copyright {
  font-size: 14px;
  color: var(--color-white);
  letter-spacing: -2%;
}

.navigation-list {
  display: grid;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-left: -8px;
}

.navigation-item {
  padding: 4px 8px;
  color: var(--color-white);
}

.icons {
  display: flex;
  gap: 16px;

  @include breakpoints.tablet {
    align-self: flex-end;
  }
}

.icon {
  color: var(--color-green);
}

.legals {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: -8px;

  @include breakpoints.tablet {
    flex-direction: row;
  }
}

.legal-item {
  padding: 4px 8px;
  color: var(--color-white);
  font-size: 14px;
  letter-spacing: -2%;
}
